<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lobby</title>
    <link rel="stylesheet" href="../styles/lobby.css" />
    <button id="create-game-button">Create Game</button>
    <button id="get-games-test">Get Games Test</button>
  </head>
  <body>
    <script type="module">
      import { postCreateGame, getGames } from "../requests/requests.js";
      document.getElementById("create-game-button").onclick =
        async function () {
          await postCreateGame();
        };
      document.getElementById("get-games-test").onclick = async function () {
        await getGames({ is_started: 0 });
      };
    </script>
  </body>
</html>
