<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lobby</title>
    <link rel="stylesheet" href="../styles/lobby.css" />
    <button id="create-game-button">Create Game</button>
    <button id="get-games-test">Get Games Test</button>
    <ul id="games-list"></ul>
  </head>
  <body>
    <script type="module">
      import { postCreateGame, getGames } from "../requests/requests.js";
      document.getElementById("create-game-button").onclick =
        async function () {
          await postCreateGame();
        };
      document.getElementById("get-games-test").onclick = async function () {
        const { rows } = await getGames({ is_started: 0 });
        if (!rows) return;
        const list = document.getElementById("games-list");
        rows.forEach((game) => {
          const gameLi = document.createElement("li");
          gameLi.innerText = JSON.stringify(game);
          list.appendChild(gameLi);
        });
      };
    </script>
  </body>
</html>
