<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../styles/login.css" />
  </head>
  <body>
    <div class="card-div" id="login-card-div">
      <div class="card-header" id="login-card-header-div">LOGIN</div>
      <form id="login-form" method="POST">
        <div class="login-signup-inputs" id="login-inputs">
          <input
            type="text"
            id="username-input"
            name="username"
            placeholder="Username"
          />
          <input
            type="text"
            id="password-input"
            name="password"
            placeholder="Password"
          />
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </body>
  <script type="module">
    import { postLogin } from "../requests/requests.js";
    document.getElementById("login-form").onsubmit = async function (e) {
      e.preventDefault();
      // Get form data
      const formData = new FormData(this);
      const username = formData.get("username"); // Assuming input name="username"
      const password = formData.get("password"); // Assuming input name="password"

      // Call postSignUp with extracted data
      await postLogin({ username: username, password: password });
    };
  </script>
</html>
